<% include partials/header %>

<h1>Locations page</h1>
<a href="/locations/new">Click to add a new location</a>

<% locations.forEach(function(location) { %>
    <div>
        <h3><%= location.name %></h3>
        <img src="<%= location.image %>"></img>
    </div>
<% }); %>


<a href="/">Go Home</a>

<% include partials/footer %>